@page "/"
@using BlazorMonaco.Editor
@using Microsoft.JSInterop
@inject IJSRuntime JS

<div class="root">
	<RazorUI.ImportHelper.MonacoImportHelper CssString="@_css_string">
		<StandaloneCodeEditor CssClass="full-box padding_top_20px"
							  Id="@Id"
							  ConstructionOptions="EditorConstructionOptions">
		</StandaloneCodeEditor>
	</RazorUI.ImportHelper.MonacoImportHelper>
</div>
