@page "/"
@using JCNET
@using Microsoft.JSInterop
@inject IJSRuntime JS
@inject StringBuilderLogWriter Writer

<div class="root">
	<div>
		<RazorUI.Button.STButton @onclick="OnClick">按钮</RazorUI.Button.STButton>
	</div>
	<MonacoLogger></MonacoLogger>
</div>
