<div class="root" @onclick="OnClickAsync" @attributes="CaptureUnmatchedValues">
	@if (State == SwitchButtonState.On)
	{
		<div class="on_box">
			<div>ON</div>
			<div class="circle"></div>
		</div>
	}
	else
	{
		<div class="off_box">
			<div class="circle"></div>
			<div>OFF</div>
		</div>
	}
</div>
