.root {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.head {
	overflow: hidden;
}

.body_box {
	flex: 1;
	overflow: hidden;
}

	.body_box .body {
		width: 100%;
		height: 100%;
		display: grid;
	}


.foot {
	overflow: hidden;
}
