/*根节点，占据全部视觉宽高*/
.root {
	display: grid;
	overflow: hidden;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: max-content max-content 1fr;
	background-color: #ededed;
	border-style: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 18px;
}

	/*根节点及根节点内的元素内外边距都设置为 0*/
	.root * {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

.left-bar {
	padding: 10px 0;
	grid-row: 1/-1;
	grid-column: 1;
	overflow: hidden;
	user-select: none;
	display: grid;
	grid-template-rows: max-content 1fr;
	grid-template-columns: auto;
}

	.left-bar .hide-left-menu-button {
		grid-row: 1;
		text-align: center;
	}

		.left-bar .hide-left-menu-button:active .hide-left-menu-button-text {
			transform: scaleX(50%);
		}

	.left-bar .left-bar-content {
		grid-row: 2;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

.left-menu {
	grid-row: 1/3;
	grid-column: 2;
	overflow: hidden;
	user-select: none;
}


.top-bar {
	grid-row: 1;
	grid-column: 3;
	overflow: hidden;
}

.content {
	grid-row: 2;
	grid-column: 3;
	overflow: auto;
}

/*底部状态栏*/
.state-bar {
	grid-row: 3;
	grid-column: 2/-1;
	height: fit-content;
	overflow: hidden;
}
