a {
	display: block;
	width: 100%;
	height: auto;
	color: inherit;
	outline: none;
	font-size: inherit;
	text-decoration: none;
	white-space: nowrap;
}

	a[should_focus] {
		background-color: lightblue;
	}
