@using RazorUI.Button
@using RazorUI.Layout
@inherits LayoutComponentBase

<PCLayoutComponent>
	<LeftBarContent>
		<LeftBarNav>
			<LeftBarNavButton Href="./home">📂</LeftBarNavButton>
			<LeftBarNavButton Href="./dialog">📂</LeftBarNavButton>
		</LeftBarNav>
	</LeftBarContent>
	<LeftMenu>
		<LeftNavMenu></LeftNavMenu>
	</LeftMenu>
	<TopBar>
		<div style="width: 100%;
					height: 100%;
					background-color: cadetblue;">
		</div>
	</TopBar>
	<Content>
		@Body
	</Content>
</PCLayoutComponent>
