<select @bind:get="BoolInt" @bind:set="OnChange"
		error_input="@(ErrorState==InputElementErrorState.IsError)"
		title="@(ErrorState==InputElementErrorState.IsError ? ErrorMessage : null)">
	<option value="0">@(FalseText)</option>
	<option value="1">@(TrueText)</option>
</select>
