@typeparam TEnum

<select @bind:get="Value" @bind:set="OnOptionChanged">
	@foreach (KeyValuePair<TEnum, string> pair in OptionDictionary)
	{
		<option value="@pair.Key">@pair.Value</option>
	}
</select>
