@using BlazorMonaco.Editor
@using JCNET
@inject StringBuilderLogWriter Writer

<div class="root">
	<RazorUI.ImportHelper.MonacoImportHelper>
		<StandaloneCodeEditor @ref="Editor"
							  CssClass="full-box padding_top_20px"
							  Id="@_id_provider.IdString"
							  ConstructionOptions="@EditorConstructionOptions">
		</StandaloneCodeEditor>
	</RazorUI.ImportHelper.MonacoImportHelper>
</div>
